<% @creatures.each do |creature| %>
	<p>
		<strong>Name:</strong> <%= creature.name %><br>
		<strong>Description:</strong> <%= creature.description %><br>
		<a href="/creatures/<%= creature.id %>">Show page</a>
	</p>
<% end %>