<h1 class="text-center"> Create a new Creature</h1>

	<%= form_for @creature do |f| %>
	<div class="formhalf center-block">
		<div class="form-group">
			<%= f.text_field :name, class: "form-control", placeholder: "Name", autofocus: true %>
		</div>
		<div class="form-group">
		<%= f.text_field :description, class: "form-control", placeholder: "Description", autofocus: true %>
		</div>
		<div class="form-group">
			 <%= f.submit "Save Creature", class: "btn btn-block btn-info" %>
		</div>
	</div>
<% end %>