// Place all the styles related to the creatures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway:400,500');
//colors

$green: #40E627;
$orange: #EBB308;
$red: #FF0500;
$blue: #2604EB;
$teal: #09FFB9;
$white: #fff;
$black: #000;


//fonts

$raleway: 'Raleway', sans-serif;


p{
	color: $red;
	font-family: $raleway;

}

.navbar{
	border: 4px solid $white;
	background-color: $black;
	width:100%;
}



.btn{
	color: $green;
	font-size:17px;
	background-color: $white;
	border-radius: 0;
	margin-top: 10px;
}

body{
	padding-top: 70px;
	margin: 0;
	 height:100%;
 width:100%;
 overflow: auto;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(64,230,39,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(64,230,39,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(64,230,39,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(64,230,39,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(64,230,39,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(64,230,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#40e627', GradientType=1 );
}

.h1box{
	border: 1px solid $white;
	background-color: $teal;
	box-shadow: 5px 5px 5px $white;
	height: 100px;
	line-height: 80px;
	color: $black;
	padding:10px;
	margin-bottom: 10px;
}

.formhalf{
	width: 50%;
}

.colorblack{
	color: $black;
}

.dlcolor{
	background-color:$red;
	color:$white;
	border: 2px solid $white;
	border-radius: 5px;
}

.editcolor{
	@extend .dlcolor;
	background-color: $green;
}

hr{
	color: $red;
}

p.descriptor {
	color: $red;
}

.mondes{
	background-color: $black;
	color: white;
	border-radius: 4px;

}

.namepart{
	background-color: $white;
	margin-bottom: 30px

}

.butbox{
	background-color: $green;
	margin: 0 auto;
	float: none;
	width: 50%;
}

.creaturebutbox{
	background-color: $teal;
	position: 0;
}


.description{
	background-color: $green;
	color: $white;
}

.centeritem{
	margin: 0 auto;
	display: block;
	width: 25%;
	padding: 10px;
	margin-bottom: 35px;
}

.card{
	height: 400px;
	display:inline-block;
	background: $black;
	color:$white;
	font-size: 20px;
	padding: 10px;
	border:solid 1px white;
		&-back{
			border: solid 1px black;
		}
}

.creaturepage{
	@extend .card;
	height: 400px;
	width: 50%;
	margin-bottom: 20px;
	background-color: $white;

}

.params{
	color: $black;
}

.navbar.navbar-inverse{
	height:100px;
}
.btn.btn-.pull-left{
	padding:10px;
	margin: auto 0;
	position: relative;
}

.desc2{
	color:white;
}
.col-xs-6.text-center.card{
	padding-top: 5px
}
.jumbotron{
	height: 200px;
	font-family: 'Oswald', sans-serif;
	color: $white;
		background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(64,230,39,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(64,230,39,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(64,230,39,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(64,230,39,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(64,230,39,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(64,230,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#40e627', GradientType=1 );
}

